# Backend
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_CLIENT_EMAIL=your-firebase-service-account-email
FIREBASE_PRIVATE_KEY=your-firebase-private-key

# Mobile
MOBILE_API_BASE_URL=http://localhost:8000

# Dashboard
VITE_API_BASE_URL=http://localhost:8000
