--extra-index-url https://download.pytorch.org/whl/cpu
fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic<2
python-multipart==0.0.9
pandas>=2.2
pi-heif>=1.0
scipy>=1.4.1
seaborn>=0.11.0
torch
torchvision
ultralytics==8.4.138
